{% extends "/layout.html" %} {% block title -%} {%- endblock %} {% block head
-%} {{ super() }}
<!--Masonry JS-->
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<!--Masonry Image Loaded JS-->
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<!--Ajax 호출(통신) 시 CSRF Token(Flask-WTF)을 헤더에 포함해서 호출-->
<script type="text/javascript">
  var csrf_token = "{{ csrf_token() }}";

  $.ajaxSetup({
    beforeSend: function (xhr, settings) {
      if (
        !/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) &&
        !this.crossDomain
      ) {
        xhr.setRequestHeader("X-CSRFToken", csrf_token);
      }
    },
  });
</script>
{%- endblock %} {% block content %} {{ super() }}
<!--팝업 모달 : dialog-->
{% include "_modal_edit.html" %} {% endblock %} {% block container %}
<!-- Masonry 가 width값을 잡기 위한 sizer -->
<div class="sizer"></div>
<!-- //Masonry 가 width값을 잡기 위한 sizer -->

{% endblock %} {% block tail %}
<!--UI 관련 style JS-->
<script
  src="{{ url_for('static', filename='js/style.js') }}"
  charset="utf-8"
></script>
<!--API 호출 JS-->
<script
  src="{{ url_for('static', filename='js/ajax.js') }}"
  charset="utf-8"
></script>
<!--API 호출트리거 및 index 페이지용 JS-->
<script
  src="{{ url_for('static', filename='js/index.js') }}"
  charset="utf-8"
></script>
{% endblock %}
